body{
    background-color: lightblue;
    position: relative;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-weight: bold;
}

#one,#two,th,td{
    position: relative;
    width: 50%;
    text-align: center;
    margin: auto;
    border: 1px solid black;
}

tr,td{
    background-color: lightgray;
}

#calculateGrade,#calculateGradeNeeded,#reset{
    position: relative;
    top: 10px;
    bottom: 10px;
}

#currentGrade,#gradeNeeded{
    position: relative;
    top: 10px;
    bottom: 20px;
}
